#previewSignalChart1 .chart-symbol,
#previewSignalChart2 .chart-symbol {
    -fx-background-radius: 0.5px;
    -fx-padding: 0.5px;
}

#resultScatterChart .chart-symbol {
    -fx-background-radius: 1.5px;
    -fx-padding: 1.5px;
}