#previewSignalChart1 .chart-symbol,
#previewSignalChart2 .chart-symbol {
    -fx-background-radius: 0.5px;
    -fx-padding: 0.5px;
}

#resultScatterChart .chart-symbol,
#unquantizedReconstructionChart .chart-symbol,
#unquantizedNoiseChart .chart-symbol,
#quantizedReconstructionChart .chart-symbol,
#quantizedNoiseChart .chart-symbol {
    -fx-background-radius: 1.5px;
    -fx-padding: 1.5px;
}

#unquantizedReconstructionChart .default-color0.chart-symbol,
#unquantizedNoiseChart .default-color0.chart-symbol,
#quantizedReconstructionChart .default-color0.chart-symbol,
#quantizedNoiseChart .default-color0.chart-symbol {
    -fx-background-color: #2196F3;
}

#unquantizedReconstructionChart .default-color1.chart-symbol,
#unquantizedNoiseChart .default-color1.chart-symbol,
#quantizedReconstructionChart .default-color1.chart-symbol,
#quantizedNoiseChart .default-color1.chart-symbol {
    -fx-background-color: #F44336;
}